@{ViewData["Title"] = "Detalhes do Estabelecimento"; Layout = "_LayoutAdmin";}
<div class="card"><div class="card-body">
<h3>@ViewBag.EstablishmentName</h3>
<p><strong>CNPJ:</strong> @ViewBag.CNPJ</p>
<p><strong>Status:</strong> @ViewBag.Status</p>
<p><strong>Plano:</strong> @ViewBag.PlanName</p>
</div></div>