@{ViewData["Title"] = "Planos"; Layout = "_LayoutAdmin";}
<div class="mb-3"><button class="btn btn-primary">Novo Plano</button></div>
<div class="row g-4">
<div class="col-md-4"><div class="card"><div class="card-body"><h4>Básico</h4><p class="h3">R$ 149/mês</p><p>5 funcionários, 100 ordens/mês</p></div></div></div>
<div class="col-md-4"><div class="card"><div class="card-body"><h4>Profissional</h4><p class="h3">R$ 299/mês</p><p>15 funcionários, 500 ordens/mês</p></div></div></div>
<div class="col-md-4"><div class="card"><div class="card-body"><h4>Enterprise</h4><p class="h3">R$ 599/mês</p><p>50 funcionários, 2000 ordens/mês</p></div></div></div>
</div>